version: "3.1"

services:
  api:
    image: "node:20.12.0"
    working_dir: /app
    restart: always
    volumes:
      - .:/app
    ports:
      - 3001:3001
    command: bash -c "yarn && yarn dev"
  mongodb:
    image: mongo:latest
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=RaNdOMSt0nGP@assW0rd
    ports:
      - "27017:27017"
    volumes:
      - ./dockerdb/mount:/var/lib/mongodb/data
  db:
    image: postgres

    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: RaNdOMSt0nGP@assW0rd
      POSTGRES_DB: trysomethign_blog_local
     
    volumes:
      - ./dockerdb/mount:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
